@font-face {
  font-family: 'NatoNextReg';
  src: url('../fonts/natonextcyr-regular-webfont.eot');
  src: url('../fonts/natonextcyr-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/natonextcyr-regular-webfont.woff2') format('woff2'),
  url('../fonts/natonextcyr-regular-webfont.woff') format('woff'),
  url('../fonts/natonextcyr-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NatoReg';
  src: url('../fonts/natopro-disp-webfont.eot');
  src: url('../fonts/natopro-disp-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/natopro-disp-webfont.woff2') format('woff2'),
  url('../fonts/natopro-disp-webfont.woff') format('woff'),
  url('../fonts/natopro-disp-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
