// Default Fonts
$natoHead: 'NatoReg', Helvetica, sans-serif;
$natoText: 'NatoNextReg', Helvetica, sans-serif;

// Colors
$c-prim: #00c8aa;
$c-prim-dark: #20232d;
$c-prim-dark-a: rgba(32, 35, 45, .8);

$c-white: #fff;
$c-whitish: #fdfdfd;

$c-dark: #4a4a4a;
