<div class="m-left-slideshow"></div>
<div class="m-center-line"></div>
<div class="m-right-content">
	<div class="m-right-content--text">
		<div class="title">МАЙНАЗАРОВ НУРСУЛТАН</div>
		<p>На данный момент наш профессиональный конферансье проводит не только торжества и вечера, но и официальные мероприятия, межгосударственные встречи, семинары, международные фестивали на всех 4-х языках: английский, турецкий, русский и кыргызский. И именно такой разносторонний творческий подход к работе делает его одним из лучших среди остальных. Плюс к этому, огромный опыт, умение работать в команде и сильная любовь к работе укрепляет фундамент его творчества. </p>
		<p>На данный момент наш профессиональный конферансье проводит не только торжества и вечера, но и официальные мероприятия, межгосударственные встречи, семинары, международные фестивали на всех 4-х языках: английский, турецкий, русский и кыргызский. И именно такой разносторонний творческий подход к работе делает его одним из лучших среди остальных. Плюс к этому, огромный опыт, умение работать в команде и сильная любовь к работе укрепляет фундамент его творчества. </p>
		<p>На данный момент наш профессиональный конферансье проводит не только торжества и вечера, но и официальные мероприятия, межгосударственные встречи, семинары, международные фестивали на всех 4-х языках: английский, турецкий, русский и кыргызский. И именно такой разносторонний творческий подход к работе делает его одним из лучших среди остальных. Плюс к этому, огромный опыт, умение работать в команде и сильная любовь к работе укрепляет фундамент его творчества. </p>
	</div>
</div>
<a href="/" class="logo-hor">
  <img src="../assets/images/logo-hor.svg" alt="">
</a>
