<div class="m-video-wrap">
  <video  poster="data:image/gif,AAAA" id="bgvid" loop>
    <source src="assets/media/mainazarov.webm" type="video/webm">
    <source src="assets/media/mainazarov.mp4" type="video/mp4">
  </video>
  <div class="video-pattern"></div>
</div>

<div class="brand-wrap text-center">
  <img class="logo" src="assets/images/logo-lg.svg" alt="">
  <div class="brand-desc">Профессиональный конферансье, теле-радио ведущий, организатор разного рода мероприятий, резидент лиги Тамашоу и КВН</div>
  <div class="brand-slogan">Успех Вашего мероприятия в наших руках!</div>
  <div>
    <div class="home-call"><span>Заказать<br>звонок</span></div>
  </div>
</div>