<div class="m-left-slideshow"></div>
<div class="m-center-line"></div>
<div class="m-right-content">
	<div class="m-right-content--text">
		<div class="title">ОРГАНИЗАЦИЯ И ПРОВЕДЕНИЕ</div>
		<h2>Выездная регистрация свадьбы</h2>
    <p>Выездная регистрация брака - это индивидуальное заключение брака, которое позволит избежать шаблонности. Мы разработаем сценарий под Вас индивидуально!</p>
    <p>Изысканный декор выездной регистрации не оставит гостей и молодоженов равнодушными.</p>
    <br>
    <h2>Свадебный декор</h2>
    <p>Наши профессиональные свадебные декораторы с безупречным вкусом разработают индивидуальный проект и предложат нестандартные идеи оформления зала для банкета.</p>
    <br>
    <h2>Звезды эстрады</h2>
    <p>Приглашение на свадьбу звезду эстрады станет незабываемой изюминкой вечера и подчеркнет высокий статус мероприятия. Если Вы хотите порадовать и удивить своих гостей, звезды эстрады, кино и телевидения - это лучший вариант. Подчеркните свое превосходство -  на высшем уровне!</p>
    <br>
    <h2>Развлекательная программа.</h2>
    <p>Оригинальный жанр,кавер-группы, шоу-балет, иллюзиаисты, фейверки и звезды эстрады - мы предложим вам шоу на любой вкус.</p>
    <p>Развлекательная часть мероприятия напрямую зависит от формата и тематики. Для каждого праздника мы создаем индивидуальное предложение.</p>
    <br>
    <h2>Фотографы и видеосъемка</h2>
    <p>Умение применить все свои навыки, чтобы самые приятные и красочные моменты остались в вашем семейном альбоме, - это то, что отличает наших профессионалов от других.</p>
    <p>Съемка свадьбы может быть как постановочная так и репортажная, самое главное - это момент доверия к человеку,который выполняет эту важную задачу.</p>
    <br>
    <h2>Кейтеринг и Свадебный торт</h2>
    <p>Ни один праздник не обходится без вкусного обеда или званого ужина. Достойным образом утолить жажду или вкусить изысканные блюда на мероприятии помогает служба кейтеринга. Мы рады предложить вам выездное обслуживание банкетов и фуршетов, организацию барбекю-вечеринки, кофе-брейк на деловых мероприятиях и многое другое. Всегда свежие продукты, оригинальные рецепты от шеф-поваров известных ресторанов, эксклюзивное сервисное обслуживание по высшему разряду – все это порадует участников любого события.</p>
    <p>Ненавязчивое обслуживание лучших официантов, барменов, администраторов позволят организовать, в том числе, и зону для VIP-персон.</p>
    <p>Мы разработаем для вас особое меню, учтем все пожелания. Для кофе-брейков у нас создана большая палитра канапе, а для детского праздника все блюда будут оформлены в виде веселых и забавных персонажей, легко узнаваемых маленькими гостями.</p>
    <p>И, конечно же, для свадебного торжества, мы предложим вам лучшие рецепты и изысканное оформление праздничного торта, который произведет фурор среди ваших гостей.</p>
    <p>Наши гости съели несколько миллионов закусок и канапе. Сотни тысяч конфет мы представили в Candy Bar для наших маленьких гостей.</p>
  </div>
</div>
<a href="/" class="logo-hor">
  <img src="../assets/images/logo-hor.svg" alt="">
</a>
