<div class="m-left-slideshow"></div>
<div class="m-center-line"></div>
<div class="m-right-content">
	<div class="m-right-content--text">
		<div class="title">КОРПОРАТИВНЫЕ СОБЫТИЯ</div>
		<p>Корпоративные вечера крупных компаний стали обыденностью для их сотрудников и руководителей, в рутине организации которых люди часто забывают саму суть и самоцель подобных событий - заключающихся в сплочености колектива, усилении командного духа и повышении лояльности к компании. Mainazarov team никогда не забывает о значимости данных факторов и более того всегда разрабатывает и предлагает абсолютно новые сценарии и тематические развития для корпоративных вечеров и тимбилдингов, и с легкостью удивляет и занимает даже самые искушенные рабочие коллективы круглый год. Для Mainazarov team корпоративное событие – это не только посиделка в ресторане вечером, по опыту организации подобных вечеров мы можем предложить вам выезды за город, квесты, спортивные, традиционные и развлекательные игры где помощником для поднятия духа коллектива будет не только точная организация события, но и сама природа Кыргызстана со своей неописуемой красотой.</p>
    <p>Уже два года подряд мы проводим корпоративные новогодние вечера для крупнейшего банка страны – Demir Bank International</p>
    <br>
    <p>Так же нам доверились и остались довольны:</p>
    <ul>
      <li>Demir Bank International</li>
      <li>Demir Bank International</li>
    </ul>
  </div>
</div>
<a href="/" class="logo-hor">
  <img src="../assets/images/logo-hor.svg" alt="">
</a>
