<div class="m-left-slideshow"></div>
<div class="m-center-line"></div>
<div class="m-right-content">
	<div class="m-right-content--text">
		<div class="title">ТВ И РАДИО</div>
		<p>Нурсултан Майназаров блестящий ведущий, автор и креативный редактор развлекательных, общественных и образовательных передач на первом Общественном Теле-Радио Канале (ОТРК), зона вещания которого покрывает всю Республику, так же Майназаров является ведущим многих авторских передач на радио, голосом которого говорит множество аудио и видео роликов. В его послужном списке такие популярные и актуальные передачи как: «Бирге Окуйбуз»,  «Коом жана Дин», «Муз Обо»,  «Новогодний Огонек» и многочисленные общественные и благотоворительные концерты, фестивали последние из которых дали ему звание «Отличника Культуры». Выбрав Нурсултана Майназарова ведущим на свое мероприятие вы совершенно гарантированно получите интеллегентного и обаятельного конферансье голос и лицо которого не просто узнают, а доверяют.</p>
		</div>
</div>
<a href="/" class="logo-hor">
  <img src="../assets/images/logo-hor.svg" alt="">
</a>
