<div class="m-left-slideshow"></div>
<div class="m-center-line"></div>
<div class="m-right-content">
	<div class="m-right-content--text">
		<div class="title">ОФИЦИАЛЬНЫЕ ВСТРЕЧИ</div>
		<p>За время проведения Межгосударственных встреч, конференций, семинаров и деловых переговоров для самых крупных компаний Кыргызстана нам удалось выстроить эффективные взаимоотношения со многими подрядными организациями. Благодаря тесным деловым контактам мы можем предложить Вам специальные цены на весь спектр услуг event-сервиса. Мы не ограничены в выборе площадок для проведения мероприятий, развлекательных программ и других ресурсов. Являясь компанией по проведению событий полного цикла, мы несем ответственность на всех этапах проекта — от разработки концепции до ее реализации.</p>
    <br>

    <p>Наши заказчики:</p>
    <ul>
      <li>БИШКЕКСКИЙ ИНВЕСТИЦИОННЫЙ ФОРУМ 2015 БИЗНЕС АССОЦИАЦИИ ЖИА АГЕНСТВО ПО ПРОДВИЖЕНИЮ ИНВЕСТИЦИИ ПРИ МИН.ЭКОНОМИКИ И ПРОМЫШЛЕННОСТИ КР. МЕЖДУНАРОДНЫЙ ДЕЛОВОЙ СОВЕТ "МДС" – FSDS</li>
      <li>Межгосударственная встреча стран СНГ.</li>
      <li>Вечер для Министров Внутренних Дел стран СНГ.</li>
      <li>Международный конгресс "Перспективы развития стран Центральной Азии в 21 веке".</li>
      <li>ПРОЕКТ UNICEF «ИНТЕРАКТИВНАЯ ИНСТАЛЛЯЦИЯ ЗАЩИТИМ ДЕТЕЙ ОТ НАСИЛИЯ!»</li>
      <li>Кыргызстан Ислам Университети. КР Дин Иштери боюнча Мамлекеттик Комитети жана Кыргызстан Мусулмандар Дин Башкармалыгы тарабынан уюштурулган "КЕЛГИЛЕ,ПАЙГАМБАРЫБЫЗДЫ (С.А.В) ТААНЫЙЛЫ!" Сынагынын Жыйынтыктоо Аземи</li>
      <li>Презентация отеля SU SESI LUXURY RESORT - ANTALYA</li>
    </ul>
  </div>
</div>
<a href="/" class="logo-hor">
  <img src="../assets/images/logo-hor.svg" alt="">
</a>
