<div class="m-left-slideshow"></div>
<div class="m-center-line"></div>
<div class="m-right-content">
	<div class="m-right-content--text">
		<div class="title">ЧАСТНЫЕ СОБЫТИЯ</div>
		<p>Традиционные праздники являются неотъемлемой частью нашей жизни. Повышая качество услуг в организации и проведении Тушоо тоев, Бешик тоев, Кыз узатуу и др. Mainazarov team делает свой вклад в сохранение исконных традиций Кыргызского народа.</p>
    <p>Mainazarov team подскажет Вам все обязательные пункты для того чтобы соблюсти все традиции того или иного праздника и посоветует, что нужно сделать, чтобы довести все до максимально идеальных впечатлений.</p>
    <br>
    <h2>СВАДЬБЫ</h2>
    <p>Свадебная статистика за прошедший год по Бишкеку впечатляет: в столице зарегистрировано более 45 тысяч браков. Как сделать так, чтобы именно Ваша свадьба стала особенной?</p>
    <p>Чтобы торжество прошло безупречно и оставило у молодоженов и приглашенных гостей самые теплые и восторженные воспоминания, без помощи профессионалов не обойтись. Специалистами Mainazarov team накоплен огромный опыт организации свадеб, поэтому Вы непременно останетесь довольны результатом нашей работы. Эксклюзивный сценарий свадьбы - это всегда залог успеха, ведь мы не делаем похожих праздников.</p>
    <p>День свадьбы - самый важный и волнительный в жизни момент. Наше кредо в организации свадеб - это индивидуальный подход, не на словах, а на деле.</p>
    <br>
    <h2>Детские праздники</h2>
    <p>Детство является счастливой порой жизни для каждого человека. Это тот период, когда сказка с легкостью может стать былью, а мечты могут запросто осуществиться. Кто то может подумать, что впечатлить детей легко, но на самом деле процесс организации детских праздников требует вложения огромных сил и эмоций. В данном случае Mainazarov team абсолютно точно знает, как сконвертировать Вашу необъятную любовь к своему ребенку в самый веселый и незабываемый праздник. Ощущение детского праздника прекрасно, и не менее прекрасно дарить это ощущение.</p>
    <p>Мы исполняем желания детей и дарим им целый фейерверк эмоций.</p>
    <p>Мы с успехом зарекомендовали себя, и наши праздники для детей нравятся не только малышам, но и их родителям. Мы подарим Вашим детям именно тот праздник, о котором они мечтали!</p>
		</div>
</div>
<a href="/" class="logo-hor">
  <img src="../assets/images/logo-hor.svg" alt="">
</a>
