.title, h1, h2, h3 {
	font-family: $natoHead;
	color: $c-dark;
	line-height: rem(38);
  font-weight:400;
}

.title, h1 {
  font-size:rem(32);
}

h2 {
  font-size:rem(24);
}

h3 {
  font-size:rem(20);
}


.service-content {
	position: absolute;
    z-index: 5;
    color: white;
    width: 300px;
    top: 50%;
    left: 50%;
    opacity: 0;
    @include transform(translate(50%, -50%));

    .title {
    	color: #fff;
    }

    .more-details, .watch-intro {
      cursor: pointer;
      margin-bottom: 10px;
      color: white;
      display: block;
      outline: none;
      text-decoration: none;

      &:hover {
        .icon-title {
          color: $c-prim;
        }
      }
    }

    .icon {
    	height: 25px;
    	width: 25px;
    	display: inline-block;
    	vertical-align: middle;

    	&.sm {
    		height: 18px;
    		width: 25px;
    	}

    	svg {
    		fill: $c-prim;
    		height: 100%;
    		width: 100%;
    	}
    }

    .icon-title {
    	display: inline-block;
    	vertical-align: middle;
    	font-size: rem(14);
    	margin-left: 5px;
    	@include transition(all 0.2s ease-in-out);
    }
}
