.m-left-slideshow {
	position: fixed;
	top: 0;
	left: 0;
	width: 50vw;
	height: 100vh;
	background:#fff;
}

.m-center-line {
	position: fixed;
    top: 0;
    left: 50vw;
    width: 2px;
    @include transform(translateX(-50%));
    height: 0px;
    background: $c-prim;
    z-index: 1;
}

.m-right-content {
	position: fixed;
	top: 0;
	right: 0;
	width: 50vw;
	height: 100vh;
	overflow: hidden;
	background:#fff;

	&--text {
		margin: 100px auto;
	    width: 80%;
	    height: 75%;
		overflow-x: hidden;
		overflow-y: auto;

		p, li {
			line-height: rem(30);
			color: $c-dark;
		}
	}
}
