.menu-wrap {
  visibility: hidden;
}

.main-nav-wrap {
  position: fixed;
  z-index:5;
  top: 50%;
  left: 55%;
  @include transform(translate(-35%, -50%));
}
.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;

  &.service-nav {
    position: absolute;
    top: 0;
    visibility: hidden;
    //@include transform(translateX(100%));

    li {
      left: 200px;
    }

    .back-btn {
      font-family: $natoText;
      font-size: rem(18);
      margin-top: 35px;
      margin-left: 15px;
      color: #ccc;

      &:hover {
        color: $c-prim;
      }
    }
  }

  li {
    display: block;
    visibility: hidden;
    opacity:0;
    margin-bottom: 10px;

    &:nth-child(1) {
      margin-left:0;
    }
    &:nth-child(2) {
      margin-left:30px;
    }
    &:nth-child(3) {
      margin-left:60px;
    }
    &:nth-child(4) {
      margin-left:90px;
    }
    &:nth-child(5) {
      margin-left:120px;
    }
    &:nth-child(6) {
      margin-left:150px;
    }
    &:nth-child(7) {
      margin-left:180px;
    }
  }

  a {
    display: inline-block;
    padding:7px 0;
    font-size:rem(32);
    line-height: 1;
    color: $c-white;
    font-family:$natoHead;
    text-decoration: none;
    @include transition(color .1s ease-in);
    position: relative;
    letter-spacing: 2px;
    white-space: nowrap;

    &:after {
      content: '';
      height: 1px;
      width:0px;
      background-color: $c-prim;
      position: absolute;
      bottom:2px;
      left: 0;
      @include transition(width 0.2s cubic-bezier(0.7, 0, 0.3, 1));
    }

    &:hover, &:active, &:focus {
      color: $c-prim;
      &:after {
        width:100%;
      }
    }
  }
}
