.main-content {
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

audio {
  display: none;
}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  @include transform(translate(-50%, -50%));
  background: url('../images/video-poster.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  transition: 1s opacity;
}



.video-pattern {
  position: fixed;
  top:0;
  left:0;
  background-image: url('../images/video-pattern.png');
  background-repeat:repeat;
  height: 100%;
  width: 100%;
  z-index:0;
}